<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Blog Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog_css.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">

</head>
<body>
<header class="header bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-dark navbar-expand-lg navbar-light">
                  <a class="navbar-brand" href="/">Navbar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                      <a class="nav-item nav-link" href="#">Features</a>
                      <a class="nav-item nav-link" href="#">Pricing</a>
                    </div>
                  </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="title_section">
    <div class="bg_title">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Добавить пост</span></a>
                    {% endif %}
                    <h1 class="title">
                        <a href="/">Blog Django</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
