{% extends 'blog/base.html' %}

{% block title %}
<h1 class="title">
    <a href="/">Blog Django</a>
</h1>
{% endblock%}

{% block content %}
<div class="main_section__posts">
    {% for post in posts %}
    <div class="post__id{{ post.id }}">
        <div class="post__date">
            <span>Дата публикации: {{ post.published_date }}</span>
        </div>
        <h3 class="post__title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h3>
        <p class="post__text">{{ post.text|linebreaksbr}}</p>
        <br>
    </div>
    {% endfor %}
{% endblock %}